@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar li {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: 'Akaya Telivigala', cursive;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Akaya Telivigala', cursive;
}

.navbar li .nav-link {
    color: black;
}

.navbar li .nav-link:hover {
    color: blue;
}

.Menu-active {
    border-bottom: 2px solid blue;
}

.navbar-brand {
    color: rgb(45, 86, 201);
}

#header .animated {
    animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.card {
    width: 70%;
    height: 50%;
}

.card img {
    width: 100%;
}